<div class='col-md-6'>
<h6  style='margin-top: 40px; margin-left: 100px'>NodeJs Lorem Ipsum Generator</h6>
<textarea class='form-control' style='margin-top: 40px; margin-left: 100px; height: 200px'>{{lorem}}</textarea>
<form  style='margin-top: 40px; margin-left: 100px' method='post' action='/'>
   <input type='number' name = 'number' placeholder='0' class='form-control'>
        <br>
        <select class='form-control' name='selected'>
            <option selected >Choose the type </option>
            <option value='1'>letters</option>
            <option value='2'>Words</option>
            <option value='3'>paragraph</option>
        </select>
        <br>
     <button type='submit' class='btn btn-primary'>submit</button>   
   </form> 
</div>      
 </div>
</div>   
</div>
</body>
</html>